extends layout.pug
block style
    link(rel='stylesheet' href='/styles/app.css')
    script(defer, src="/scripts/app.js") 
    script(defer, src="/socket.io/socket.io.js")
    script(defer, src="/scripts/iosocket.js") 
block content
    div#tooltip
    section.main
        div.bar-area
        div.guild-name 
            p#guildName 
            div#guildSettingsBtn
        div.channel-name
        div.profile-area 
        div.guild-list
            div#guildCollection
                each guild in guildList
                    div.guild(data-guild-id = guild.guild_id, data-guild-name = guild.name)
                        div.img-circle
                            img(src="/api/v0/icons/" + guild.icon_id).img
            div#createGuildBtn.guild
                div +
        div.channel-list
        div.chat-area
        div.user-list
        div.message-area
            input(type="text", name="message" placeholder="Message").input-field
            