doctype hmtl
html
    head
        style
            include bifrost.css
            include app.css
    body
        header
            include landingNavBar.pug
        section.main
            
        footer