extends layout.pug
block style
    link(rel='stylesheet' href='app.css')
block content
    section.main
        section.bar-area
        section.guild-name 
        section.channel-name
        section.profile-area 
        section.guild-list
        section.channel-list
        section.chat-area
        section.user-list
        section.message-area
            input(type="text", name="message" placeholder="Message").input-field
            