extends layout.pug
block style
    link(rel='stylesheet' href='/styles/app.css')
    script(defer, src="/scripts/app.js") 
block content
    div#tooltip
    section.main
        div.bar-area


        div.guild-name 
            p#guildName 
            div#guildSettingsBtn


        div.channel-name
            p#channelName


        //- TODO: get data from session
        div.profile-area
            div#currentUser.user(data-user-id = "6969696969696969")
                div.icon.img-circle
                    img(src="/api/v0/icons/" + "12345678").img
                div.name-container 
                    p.name Foggy
                    p.discriminator #1645


        div.guild-list
            div#guildCollection
                each guild in guildList
                    div.guild(data-guild-id = guild.guild_id, data-guild-name = guild.name)
                        div.img-circle
                            img(src="/api/v0/icons/" + guild.icon_id).img
            div#createGuildBtn.guild
                div +


        div.channel-list
            p Text Channels:
            div#channelList


        div.chat-area


        div.user-list
            each user in userList
                div.user(data-user-id = user.user_id)
                    div.icon.img-circle
                        img(src="/api/v0/icons/" + user.icon_id).img
                    div.name-container 
                        p.name #{user.name}
                        p.discriminator ##{user.discriminator}
        div.message-area
            input(type="text", name="message" placeholder="Message").input-field
            