extends layout.pug
block style
    link(rel='stylesheet' href='/styles/createGuild.css')
    script(defer, src="/scripts/util.js") 
    script(defer, src="/scripts/appSettings.js") 
    script(defer, src="/scripts/createGuild.js") 
block content
    section.main
        form#createGuildForm(onsubmit="return validateForm()" method="post")
            section.content
                div.form-area
                    div.title
                        h1 Create A Guild 
                        div.delete.cancel X
                    div.guild-form
                        div.image-area
                            div.img-circle.img-large
                                img#guildImage(src="https://ui-avatars.com/api/?background=random&name=", alt="Guild Icon").img
                            button#removeImageBtn(type="button").link remove
                        div.input-area
                            div.form-block
                                label.input-label Guild Name
                                input#guildNameInput(type="text", name="name" placeholder="Guild Name").input-field
                                span#guildNameErrorMsg.error-message.hidden You did it wrong sir 
                            div.form-block
                                label.input-label User Icon
                                label.input-label.file-input.btn.btn-purple Upload Image
                                    input#iconInput(type="file", name="icon", accept="image/png, image/jpeg, image/jpg, image/svg") 
                                span#iconErrorMsg.error-message.hidden Incorrect file type
                div.button-area
                    button(type="button").btn.btn-outline-red.cancel Cancel
                    button(type="submit").btn.btn-green Create
