doctype hmtl
html
    head
        link(rel='stylesheet' href='bifrost.css')
        link(rel='stylesheet' href='serverSettings.css')
    body
        header
            include landingNavBar.pug
        section.main
            
        footer