extends layout.pug
block style
    link(rel='stylesheet' href='/styles/guildSettings.css')
    script(defer, src="/scripts/appSettings.js") 
    script(defer, src="/scripts/guildSettings.js") 
    script(defer, src="/scripts/channels.js") 
block content
    input#guildIdField(type="hidden" value=guild.guild_id) 
    section.main
         form#updateGuildForm(onsubmit="return validateForm()" method="post")
            section.content
                div.form-area
                    div.title
                        h1 Guild Settings 
                        div.delete.cancel X
                    section.form-body
                        div.guild-form
                            div.image-area
                                div.img-circle.img-large
                                    img#guildImage(src="https://ui-avatars.com/api/?background=random&name=Bi+Frost", alt="Guild Icon", value=guild.icon_id).img
                                button#removeImageBtn(type="button").link remove
                            div.input-area
                                div.form-block
                                    label.input-label Guild Name
                                    input#guildNameInput(type="text", name="guildName", placeholder="Guild Name", value=guild.name).input-field
                                    span#guildNameErrorMsg.error-message.hidden You did it wrong sir 
                                div.form-block
                                    label.input-label Guild Icon
                                    div.buttons
                                        label.input-label.file-input.btn.btn-purple Upload Image
                                            input#iconInput(type="file", name="newUserIcon", accept="image/png, image/jpeg, image/jpg, image/svg")
                                        button#deleteGuildBtn(type="button").btn.btn-red Delete Guild 
                                    span#iconErrorMsg.error-message.hidden Incorrect file type
                        div.channel-area
                            h2 Channels
                            div.channel-container
                                //- This is where channels get imported                             
                            //- Add new channel box
                            div.channel.add
                                label(for="newChannelName").input-field #
                                    input#newChannelName(type="text", name="newChannelName" autocomplete="off")
                                button#addChannelBtn(type="button").btn.btn-outline-white +
                div.button-area
                    button(type="button").btn.btn-outline-red.cancel Cancel
                    p You have unsaved changes
                    button(type="submit").btn.btn-green Save Changes  