extends layout.pug
block style
    link(rel='stylesheet' href='navbar.css')
    link(rel='stylesheet' href='landing.css')
block content
    section.main
        include landingNavBar.pug
        section.welcome-area
            div
                .header-text Welcome to
                .header-text Bifrost 
                .sub-text The bridge between worlds            
        section.button-area
            div
                a.btn.btn-outline-purple.btn-space(href="/signUp") Sign Up
            div
                a.btn.btn-outline-purple.btn-space(href="/logIn") Log In                                   
        section.image-area
            .img-container
                img.wavy-background(src="../images/Bifrost_Background.svg")
                img.characters(src="../images/Bifrost_Characters.svg", alt="")                
        section.footer-area
            div Joe Reed, Ryan Unroe, Andrew Newberry, Cody Ashby
    footer

