extends layout.pug
block style
    link(rel='stylesheet' href='navbar.css')
    link(rel='stylesheet' href='landing.css')
block content
    header
        include landingNavBar.pug
    section.main
        div.container 
            div.message  
    footer

