doctype hmtl
html
    head
        link(href='bifrost.css', rel='stylesheet')
    body
        header
            include landingNavBar.pug
        section.main
            
            
        footer