doctype hmtl
html
    head
        link(rel='stylesheet' href='bifrost.css')
        link(rel='stylesheet' href='navbar.css')
        link(rel='stylesheet' href='landing.css')
    body
        header
            include landingNavBar.pug
        section.main
            button.btn-purple fffff
            
        footer