extends layout.pug
block style
    link(rel='stylesheet' href='/styles/navbar.css')
    link(rel='stylesheet' href='/styles/landing.css')
block content
    section.main
        include landingNavBar.pug
        section.content
            section.welcome-area
                div
                    h1.header-text Welcome to
                    h1.header-text Bifrost 
                    p.sub-text The bridge between worlds            
                section.button-area
                    div
                        a.btn.btn-outline-purple.btn-space(href="/signUp") Sign Up
                    div
                    a.btn.btn-outline-purple.btn-space(href="/logIn") Log In                                   
            section.image-area
                .img-container
                    img.wavy-background(src="../images/Bifrost_Background.svg")
                    img.characters(src="../images/Bifrost_Characters.svg", alt="")                
        section.footer-area
            div Joe Reed, Ryan Unroe, Andrew Newberry, Cody Ashby
    footer
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/iosocket.js") 

