div.navbar-area
    div.navbar
        div.title
            img.nav-title.nav-logo(src="../images/Bifrost_Navbar.svg")
            div.title-text.purple-text ifrost 
        div
            div.btn.btn-outline-purple.nav-btn Sign Up
            div.btn.btn-outline-purple.nav-btn Log In