.navbar-area
    .navbar
        a.title(href="/")
            img.nav-title.nav-logo(src="../images/Bifrost_Navbar.svg")
            .title-text.purple-text ifrost 
        div
            a.btn.btn-outline-purple.nav-btn(href="/signUp") Sign Up
            a.btn.btn-outline-purple.nav-btn(href="/logIn") Log In