doctype hmtl
html
    head       
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='preload'  as='style' href='/styles/bifrost.css')
        link(rel='prefetch' as='style' href='/styles/app.css')
        link(rel='prefetch' as='style' href='/scripts/app.js')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='icon' href='/images/Bifrost_Navbar.svg')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')
        link(rel='stylesheet' href='/styles/bifrost.css')
        script(defer, src="/scripts/apiVersion.js")
        meta(name="theme-color" content="#202225")
        block style
    body
        block content
