doctype hmtl
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')
        link(rel='stylesheet' href='/styles/bifrost.css')
        block style
    body
        block content