extends layout.pug
block style
    link(rel='stylesheet' href='navbar.css')
    link(rel='stylesheet' href='login.css')
block content
    section.main
        include landingNavBar.pug
        section.content
            section.display-area
                h1.header-title Log In
                img.bifrost-logo(src="../images/Bifrost_Logo.svg")
            section.form-area
                form(action="") 
                    .form-block
                        label.input-label(for="") Email
                        input.input-field(type="text", value="")
                    .form-block
                        label.input-label(for="") Password
                        input.input-field(type="text", value="")
                    span.error-message Invalid Email or Password
                    button.btn.btn-purple(type="submit").submit-btn Log In
        section.footer-area
            div Joe Reed, Ryan Unroe, Andrew Newberry, Cody Ashby