doctype hmtl
html
    head
        style
            include bifrost.css
            include navbar.css
            include login.css
    body
        header
            include landingNavBar.pug
        section.main
            
        footer