extends layout.pug
block style
    link(rel='stylesheet' href='navbar.css')
    link(rel='stylesheet' href='signup.css')
block content
    header
        include landingNavBar.pug
    section.main
        
        
    footer