extends layout.pug
block style
    link(rel='stylesheet' href='/styles/navbar.css')
    link(rel='stylesheet' href='/styles/signup.css')
    script(defer, src="/scripts/signUp.js") 
block content
    section.main
        include landingNavBar.pug
        section.content
            section.preview-area
                h1.header-title Sign Up
                .img-circle.img-large
                    //-Temp Image 
                    img#profileImg.img(src="https://www.gravatar.com/avatar/" + Math.floor(Math.random() * 15 + 1) + "?s=200&d=retro")
                button#removeImageBtn(type="button").link remove
            section.form-area
                form#signupForm(onsubmit="return validateForm()" method="post")
                    .form-block
                        label.input-label Username
                        input#usernameInput.input-field(type="text", name="username")
                        span#usernameErrorMsg.error-message.hidden Invalid Username
                    .form-block
                        label.input-label Email
                        input#emailInput.input-field(type="email", name="email")
                        span#emailErrorMsg.error-message.hidden Invalid Email
                    .form-block
                        label.input-label Password
                        input#passwordInput.input-field(type="password", name="password")
                        span#passwordErrorMsg.error-message.hidden Invalid Password (8 Characters, 1 letter, and 1 number)
                    .form-block
                        label.input-label Confirm Password
                        input#confirmInput.input-field(type="password", name="confirmPassword")
                        span#confirmErrorMsg.error-message.hidden Password Does Not Match
                    .form-block
                        label.input-label User Icon
                        label.input-label.file-input.btn.btn-purple Upload Image
                            input#iconInput(type="file", name="newUserIcon", accept="image/png, image/jpeg, image/jpg, image/svg") 
                        span#iconErrorMsg.error-message.hidden Incorrect file type
                    button.btn.btn-purple(type="submit").submit-btn Create Account

        section.footer-area
            div Joe Reed, Ryan Unroe, Andrew Newberry, Cody Ashby