extends layout.pug
block style
    link(rel='stylesheet' href='/styles/navbar.css')
    link(rel='stylesheet' href='/styles/signup.css')
block content
    section.main
        include landingNavBar.pug
        section.content
            section.preview-area
                h1.header-title Sign Up
                .img-circle.img-large
                    //-Temp Image 
                    img.img(src="https://www.gravatar.com/avatar/" + Math.floor(Math.random() * 15 + 1) + "?s=200&d=retro")
                div Username
                div #1645 
            section.form-area
                form(action="")
                    .form-block
                        label.input-label(for="") Username
                        input.input-field(type="text", value="")
                        span.error-message Invalid Username
                    .form-block
                        label.input-label(for="") Email
                        input.input-field(type="text", value="")
                        span.error-message Invalid Email
                    .form-block
                        label.input-label(for="") Password
                        input.input-field(type="text", value="")
                        span.error-message Invalid Password
                    .form-block
                        label.input-label(for="") Confirm Password
                        input.input-field(type="text", value="")
                        span.error-message Password Does Not Match
                    .form-block
                        label.input-label User Icon
                        label.input-label.file-input.btn.btn-purple Upload Image
                            input(type="file", name="newUserIcon", accept="image/png, image/jpeg, image/jpg, image/svg") 
                        span.error-message Incorrect file type
                    button.btn.btn-purple(type="submit").submit-btn Create Account

        section.footer-area
            div Joe Reed, Ryan Unroe, Andrew Newberry, Cody Ashby