extends layout.pug
block style
    link(rel='stylesheet' href='/styles/userSettings.css')
    script(defer, src="/scripts/appSettings.js") 
    script(defer, src="/scripts/userSettings.js") 
block content
    section.main
        form#updateUserForm(onsubmit="return validateForm()" method="post")
            section.content
                div.form-area
                    div.title
                        h1 User Settings 
                        div.delete.cancel X
                    div.guild-form
                        div.img-container
                            div.img-circle.img-large
                                img#userImage(src="https://www.gravatar.com/avatar/" + Math.floor(Math.random() * 15 + 1) + "?s=200&d=retro" alt="User Icon").img
                            button#removeImageBtn(type="button").link remove
                            p#usernamePreview Username
                            p#discrimatorPreview #1645
                            button#logoutBtn(type="button").btn.btn-outline-red.logout Logout 
                        div.input-area
                            div.form-block
                                label.input-label Email
                                input#emailInput(type="text", name="newEmail" placeholder="Email").input-field
                                span#emailErrorMsg.error-message.hidden Invalid email
                            div.form-block
                                label.input-label Username
                                input#usernameInput(type="text", name="newUsername" placeholder="Username").input-field
                                span#usernameErrorMsg.error-message.hidden You did it wrong sir 
                            div.form-block
                                label.input-label User Icon
                                label.input-label.file-input.btn.btn-purple Upload Image
                                    input#iconInput(type="file", name="newUserIcon", accept="image/png, image/jpeg, image/jpg, image/svg") 
                                span#iconErrorMsg.error-message.hidden Incorrect file type
                div.button-area
                    button(type="button").btn.btn-outline-red.cancel Cancel
                    button(type="submit").btn.btn-green Save Changes