:root {
  --color-bg-1: #121213;
  --color-bg-2: #202225;
  --color-bg-3: #292b2f;
  --color-bg-4: #40444b;
  --color-accent: #7148ff;
  --color-success: #28a745;
  --color-danger: #dc3545;
}

/* Make sure all pages reach the edges of the browser */
body,
html {
  margin: 0;
  padding: 0;
}

.full-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 15fr 1fr;
}

.btn {
  display: inline-block;
  padding: 10px;
  /* Cursed but forces round edges no matter the height of the element */
  border-radius: 100vh;
  cursor: pointer;
}

.btn-purple {
  background-color: var(--color-accent);
  color: white;
  border: 2px solid var(--color-accent);
}

/* .btn-purple:active {

    have actives a slight shade darker?

} */

.btn-outline-purple {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.btn-outline-purple:hover {
  background-color: var(--color-accent);
  color: white;
  cursor: pointer;
}

.btn-outline-red {
  color: var(--color-danger);
  border: 2px solid var(--color-danger);
}

.btn-outline-red:hover {
  display: inline-block;
  background-color: var(--color-danger);
  color: white;
  cursor: pointer;
}

.btn-green {
  background-color: var(--color-success);
  color: white;
  border: 2px solid var(--color-success);
}

.error-message {
  color: var(--color-danger);
  font-size: 0.9em;
}

/* Use on div wrapping img */
.img-circle {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-small {
  height: 100px;
  width: 100px;
}

.img-medium {
  height: 150px;
  width: 150px;
}

.img-large {
  height: 200px;
  width: 200px;
}

.img {
  height: 100%;
  width: 100%;
}

.input-label {
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 0.25rem;
}

.input-field {
  display: block;
  /* Cursed but forces round edges no matter the height of the element */
  border-radius: 100vh;
  /* border: 2px solid var(--color-accent); */
  padding: 5px 10px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* Div wrap each label and input */
.form-block {
  margin-bottom: 1rem;
}
