.main {
    display:grid;
    grid-template-areas: "bar-area    bar-area      bar-area      profile-area"
                         "guild-list  guild-name    channel-name  profile-area"
                         "guild-list  channel-list  chat-area     user-list"
                         "guild-list  channel-list  message-area  user-list";
    grid-template-columns: 5.5em 14em 1fr 14em;
    grid-template-rows: 2em 3em 1fr 3em;
    font-family: "Rubik", sans-serif;
    height:100%;
    width:100%;
    box-sizing: border-box;
    color:white;
}


/*#############################
         Grid elements
###############################*/

.bar-area {
    grid-area: bar-area;
    background-color: var(--color-bg-1);
}
.profile-area {
    grid-area: profile-area;
    background-color: var(--color-bg-1);
}
.guild-list {
    grid-area: guild-list;
    background-color: var(--color-bg-1);
    overflow-x: hidden;
}
.guild-list::-webkit-scrollbar, .user-list::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.guild-list, .user-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.guild-name {
    grid-area: guild-name;
    background-color: var(--color-bg-2);
    border-bottom: solid var(--color-bg-4) 1px;
    display:flex;
    justify-content: space-between;
}
.channel-list {
    grid-area: channel-list;
    background-color: var(--color-bg-2);
}
.user-list {
    grid-area: user-list;
    background-color: var(--color-bg-2);
}

.channel-name {
    grid-area: channel-name;
    background-color: var(--color-bg-3);
    border-bottom: solid var(--color-bg-4) 1px;
}
.chat-area {
    grid-area: chat-area;
    background-color: var(--color-bg-3);
}
.message-area {
    grid-area: message-area;
    background-color: var(--color-bg-3);
    border-top: solid var(--color-bg-4) 1px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/*#############################
           General
###############################*/

.input-field {
    width:90%;
    margin:0 auto;
    background-color: var(--color-bg-4);
    color:white;
}

/*#############################
          Guild List
###############################*/


#guildCollection {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.guild {
    width:55px;
    height:55px;
    cursor:pointer;
    margin-bottom: 0.5em;
    padding:0.25em;
    border-radius: 100%;
    border:2px solid var(--color-bg-1);
}

.guild.selected {
    border:2px solid var(--color-accent);
}

.guild > .img-circle {
    height:100%;
    width:100%;
}

#createGuildBtn {
    display:block;
    margin-left: auto;
    margin-right: auto;

}

#createGuildBtn > div {
    color:var(--color-success);
    border: 3px solid var(--color-success);
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
    border-radius: 100%;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    transition: background-color 0.15s ease, color 0.15s ease;
    padding-bottom:2px;
}

#createGuildBtn:hover > div {
    color:#fff;
    background-color: var(--color-success);
}


#tooltip {
    display: block;
    position: fixed;
    color: #fff;
    background: var(--color-bg-1);
    text-align: center;
    padding:0.5em 0.65em;
    border-radius: 6px;
    font-size: 0.9em;
    z-index: 100;
    font-family: "Rubik", sans-serif;
}

#tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color-bg-1) transparent transparent;
  }

/*#############################
          Guild Name
###############################*/

#guildSettingsBtn {
    cursor:pointer;
}

.three-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
    padding:0.65em 0.75em;
    box-sizing: border-box;
}
.three-dots > div {
    background-color: #fff;
    width:4px;
    height:4px;
    border-radius: 100%;
}

/*#############################
        Profile Section
###############################*/

.profile-area {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.5em 0.5em 0.5em 0.5em;
}
.profile-area > .user {
    cursor: pointer;
}



/*#############################
          User List
###############################*/

.user-list {
    padding:0.5em;
    overflow-x: hidden;
}
.user {
    width:100%;
    display:flex;
    padding:0.5em;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow:ellipsis;
    flex-wrap: nowrap;
}
.user .name-container {
    text-overflow:ellipsis;
    width:75%;

}
.user .name-container p {
    overflow:hidden;
    text-overflow:ellipsis;
    margin:0;
}
.user .name-container .discriminator {
    color:#999;
    
}
.user .icon {
    width:40px;
    height:40px;
    margin-right: 0.5em;
}

