:root {
  --color-bg-1: #121213;
  --color-bg-2: #202225;
  --color-bg-3: #292b2f;
  --color-bg-4: #40444b;
  --color-accent: #7148ff;
  --color-success: #21af6f;
  --color-danger: #dc3545;
}

/* Make sure all pages reach the edges of the browser */
body,
html {
  margin: 0;
  padding: 0;
}
body {
  height:100%;
}



.link {
  border:none;
  outline:none;
  background:none;
  display:inline-block;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-size: 1em;
  padding: 8px 10px;
  /* Cursed but forces round edges no matter the height of the element */
  border-radius: 100vh;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

.btn-purple {
  background-color: var(--color-accent);
  color: white;
  border: 2px solid var(--color-accent);
}

/* .btn-purple:active {

    have actives a slight shade darker?

} */

.btn-red {
  background-color: var(--color-danger);
  color: white;
  border: 2px solid var(--color-danger);
}

.btn-outline-purple {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  background:none;
}

.btn-outline-purple:hover {
  background-color: var(--color-accent);
  color: white;
  cursor: pointer;
}

.btn-outline-red {
  color: var(--color-danger);
  border: 2px solid var(--color-danger);
  background: none;
}

.btn-outline-red:hover {
  display: inline-block;
  background-color: var(--color-danger);
  color: white;
  cursor: pointer;
}

.btn-outline-white {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}

.btn-outline-white:hover {
  display: inline-block;
  background-color: #fff;
  color: var(--color-bg-1);
  cursor: pointer;
}


.hidden {
  visibility: hidden;
}

.btn-green {
  background-color: var(--color-success);
  color: white;
  border: 2px solid var(--color-success);
}

.error-message {
  color: var(--color-danger);
  font-size: 0.9em;
  font-family: "Rubik", sans-serif;
  display: block;
  margin-top: 0.3em;
}

/* Use on div wrapping img */
.img-circle {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

}

.img-small {
  height: 100px;
  width: 100px;
}

.img-medium {
  height: 150px;
  width: 150px;
}

.img-large {
  height: 200px;
  width: 200px;
}

.img {
  min-height: 100%;
  min-width: 100%;
}

.delete {
  color: #fff;
  cursor:pointer;
  font-size: 1.3rem;
  transition: color 0.15s ease;
}
.delete:hover {
    color: var(--color-danger);
}


.input-label.file-input {
  display: inline-block;
  margin-bottom: 0;
}
.file-input > input {
  display:none;
}


.input-label {
  padding-left: 10px;
  margin-bottom: 0.25rem;
  font-family: "Rubik", sans-serif;
  display: block;
}

.input-field {
  display: block;
  border: none;
  /* Cursed but forces round edges no matter the height of the element */
  border-radius: 100vh;
  padding: 0.5rem 1rem;
  font-family: "Rubik", sans-serif;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* Div wrap each label and input */
.form-block {
  margin-bottom: 1rem;
}
