.main {
  display: grid;
  grid-template-rows: 4em 1fr 4em;
  box-sizing: border-box;
  color: white;
  height: 100%;
  background-color: var(--color-bg-3);
  font-family: "Rubik", sans-serif;
}

.navbar-area {
  background-color: var(--color-bg-2);
}

.display-area {
  background-color: var(--color-bg-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.form-area {
  background-color: var(--color-bg-3);
}

.footer-area {
  background-color: var(--color-bg-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 2.75em;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.bifrost-logo {
  max-height: 300px;
  width: auto;
}

.form-block {
  margin-bottom: 1.5rem;
}

.input-field {
  width: 100%;
}

.error-message {
  text-align: center;
}

.submit-btn {
  margin: 0.5em auto;
  display: block;
}

form {
  max-width: 400px;
  padding: 0 1rem;
  margin: 0 auto;
  flex: 1;
}
.content {
  display: grid;
}

@media all and (min-width: 750px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
  form {
    margin: 0;
  }
  .header-title {
    margin-top: 15vh;
    font-size: 3.75em;
  }
  .form-area {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .display-area {
    margin: 0;
  }
}

@media all and (min-width: 1000px) {
  .content {
    grid-template-columns: 1.25fr 1fr;
  }

  .display-area {
    margin-left: 20%;
  }
}
