.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.title-text {
  font-size: 25px;
  font-weight: bold;
}

.purple-text {
  color: var(--color-accent);
}

.nav-logo {
  height: 35px;
}

.nav-btn {
  margin-right: 0.75em;
}

.nav-title {
  margin-left: 1em;
}


@media all and (min-width: 400px) {
  .nav-btn {
    margin-right: 1.25em;
  }
  .nav-logo {
    height: 45px;
  }
  .title-text {
    font-size: 30px;
  }
}

@media all and (min-width: 600px) {
  .nav-btn {
    margin-right: 1.5em;
  }
}